.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 40px;
  font-size: 1rem;
  border: 1px solid #686868;
  border-radius: 10px;
}

.card__instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 12px 12px 6px 12px;
  background-color: #fff7cf;
}

.card__instruction-description {
  color: var(--deliverize-orange);
}

.card__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  padding: 12px;
}

.card__options-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border-bottom: 2px solid var(--deliverize-orange);
}

.card__options-item__title {
  margin-right: auto;
}

.card__options-item__counter {
  width: 20%;
  margin-left: auto;
}

.card__options-item__price {
  margin-right: auto;
  color: var(--deliverize-orange);
}

.card__cutlery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.card__cutlery-title {
  background-color: #fff7cf;
  width: 100%;
  padding: 12px;

}

.card__cutlery-radio-button {
  margin-left: auto;
}

/* .card__cutlery-radio-button style */
input[type='radio'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--deliverize-orange);
  border-radius: 50%;
  -webkit-appearance: none;
}

/* .card__cutlery-radio-button style */
input[type='radio']:before {
  content: '';
  display: block;
  width: 65%;
  height: 65%;
  border-radius: 50%;
}

/* .card__cutlery-radio-button style */
input[type='radio']:checked:before {
  background: var(--deliverize-orange);
}

.card__cutlery-radio-label {
  display: flex;
  width: 100%;
  font-weight: 400;
}

.card__add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 12px;
}

.card__add__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 65%;
  margin-right: auto;
}

.card__add__button {
  width: 65%;
  height: 80%;
  margin-left: auto;
  color: white;
  background-color: var(--deliverize-orange);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card__add__button:hover {
  background-color: var(--deliverize-red);
}

@media screen and (max-width: 1200px) {
  .card {
    width: 90%;
    border: none;
    padding: 40px 0 0 0;
  }
}
